.page-header
  %h2 Comentarios

%table.common-table.zebra-striped
  %thead
    %tr
      %td Author
      %td Comentario
      %td Tipo
      %td Promesa
      %td
  
  %tbody
    = render @comments
    
= paginate @comments