// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns   : 24
$blueprint-container-size : 950px
$blueprint-grid-margin    : 10px

// Use this to calculate the width based on the total width.
// Or you can set $blueprint-grid-width to a fixed value and unset $blueprint-container-size -- it will be calculated for you.
$blueprint-grid-width: ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin

html
  background: url('../images/patron_bg.jpg') repeat
  
  body
    background: url('../images/background.png') repeat-x, url('../images/background-bottom.png') repeat-x bottom
    color: #666666
    font-family: Trebuchet MS, sans-serif
    font-size: 12px
    font-weight: bold
    
    a
      color: $link_color
      text-decoration: none
      
    header
      +column(24)
      +last
      min-height: 40px
    
      #logo
        margin: 30px 0 0 0
        float: left
        
      #search_box
        +column(24, true)
        border-bottom: 1px dashed #666666
        height: 35px
        margin-bottom: 60px
        #breadcums
          +column(10)
          span.estas_en
            color: #c2abd7
            +column(2)
          span.breadcums
            +column(8,true)
            color: #898989
            font-style: italic
        #search
          +column(12, true)
          +prepend(2)
          input
            +border-radius(3px)
            background-color: #f2f2f2
            border: 1px solid #c7c7c7
        
          input.button_search
            +border-radius(3px)
            background-color: #c2abd7
            color: #ffffff
            height: 28px
            width: 80px
          
        
          input.hidden_field
            display: none
          
          select.buscar_por
            +border-radius(3px)
            background-color: #f2f2f2
            border: 1px solid #c7c7c7
            height: 28px
            width: 140px

    nav
      +column(17)
      +last
      +prepend(1)
      +nav_text
      background: url('../images/menu_nav.png') no-repeat 68px 0
      height: 90px
      margin: 50px 0 0 0

      ul
        display: inline-block
        float: left
        list-style-type: none
        margin: 38px 0 0 65px

        li
          border-left: 1px solid #363636
          float: left
          margin: 0 15px 0 0
          padding: 0 0 0 15px
        
        li.no-border
          border: 0
          padding: 0
      
      .follow_us
        font-size: 14px
        float: right
        margin-left: 0
        
        li
          border: 0
          margin: 0
          padding: 0 5px
              
    #container
      +container
       
    .home

    .content
      +column(24)
      +last
      padding: 0 0 20px
      
    h1
      font-family: 'Oswald', sans-serif
      font-size: 18px
      font-weight: normal
      margin-bottom: 15px
      text-transform: uppercase
    
    h3
      font-size: 18px
      font-weight: bold
      margin: 0 auto
      margin-bottom: 15px
      
    footer
      +column(24)
      +last
      height: 110px
      
      nav
        background: none
        margin: 25px 0 0 0
        padding: 0
        
        ul
          margin: 0