#promesas
  +column(15)
  
  .promesa
    max-width: 457px
    margin: 10px auto
    
    h3
      background: url('../images/promesa_header.png') no-repeat
      border-bottom: 1px solid #7DBEB8
      font-size: 18px
      margin: 0 0 5px 0
      max-width: 457px
      padding: 18px 0 0 30px
  
    a
      margin: 0 10px 0 0

#sidebar
  +column(9)
  +last