#promesas
  +column(15)
  
  .promesa
    max-width: 457px
    margin: 10px auto
    
    h3
      background: url('../images/promesa_header.png') no-repeat
      border-bottom: 1px solid #7DBEB8
      max-width: 457px
      padding: 10px 0 5px 30px
  
    a
      margin: 0 10px 0 0

#sidebar
  +column(9)
  +last

#show-promesa
  +column(24)
  .funcionario
    +column(24)
    margin: 20px 0
    .fotografia
      +column(5)
    .info
      +column(19)
      +last
      
  .hito_header
    +column(17)
    border: 2px solid #ffffff
    cursor: pointer
    margin: 5px 6px 5px 0
    min-height: 40px
    padding: 5px
    
  .hito_counter
    +column(4)
    +last
    border: 2px solid #ffffff
    margin: 5px 0
    min-height: 40px
    padding: 5px
    
  .hito_content
    +column(21)
    +last
    border: 2px solid #ffffff
    display: none
    margin: 5px 0 15px 0
    min-height: 40px
    padding: 5px
    
    .citizen_comments, .goverment_comment
      +column(10)
  
  #hito_header_0, #hito_counter_0, #hito_content_0
    background: #C5EBCD
    
  
  #hito_header_1, #hito_counter_1, #hito_content_1
    background: #ABCCBD

  #hito_header_2, #hito_counter_2, #hito_content_2
    background: #7DBEB8

  #hito_header_3, #hito_counter_3, #hito_content_3
    background: #181619
    
  #hito_header_4, #hito_counter_4, #hito_content_4
    background: #E32F21
