#promesas
  color: #666666
  font-family: Trebuchet MS, sans-serif
  font-size: 12px
  font-weight: bold
  
  p.promesa_top
    text-align: right
  
  span.title
    color: #7a95a4
    font-family: 'Open Sans', sans-serif
    font-size: 14px
   
  p.topic 
    color: #959595
    
  span.region
    color: #333333
    margin-right: 25px
    
  .promesa
    +column(14)
    background: url('../images/promesa-bg.png')
    height: 164px
    margin: 0 0 10px 0
    padding: 15px 0 0 20px
    
  .arrow
    background: url('../images/arrow.png')
    display: inline
    float: left
    height: 179px
    width: 50px
    
  .status
    +column(8, true)
    background: url('../images/promesa-bg.png')
    height: 164px
    padding: 15px 0 0 20px