.page-header
  %h2 Editar Funcionario
  
= form_for [:admin, @official], :html => {:multipart => true} do |form|
  = render "admin/shared/error_messages", :target => @official
  %fieldset
    = render :partial => 'form', :locals => {:form => form}
    .actions
      = form.submit 'Editar Funcionario', :class => 'btn primary'
      %input{:type => 'reset', :class => 'btn', :value => 'Limpiar'}