.page-header
  %h2 Funcionarios

= link_to 'Nuevo Funcionario', new_admin_official_path(@official)
%table.common-table.zebra-striped
  %thead
    %tr
      %td Nombre
      %td Posición
      %td Fotografia
      %td
  
  %tbody
    = render @officials