#acerca-de
  %h1 Acerca De...

  %p#promesometro
    El Promesómetro es un instrumento que busca facilitar la comunicación entre autoridades y ciudadanos en torno a los compromisos electorales que se realizan durante las campañas políticas.
  
  #informacion
    %h2 cómo participar
    
    %p#autoridad
      Si eres autoridad, aprovecha este espacio para comunicar de una manera clara sobre los avances o retrasos en el cumplimiento de tus promesas de campaña a los vecinos de tu jurisdicción.  Recuerda que muchas veces la gente piensa mal de sus autoridades porque no ven que las promesas realizadas se concreten, pero no reparan en que hay muchos factores que pueden afectar su cumplimiento.

    %p#ciudadano
      Si eres ciudadano o ciudadana aprovecha este espacio para preguntarle a tus autoridades porqué no están cumpliendo con lo que ofrecieron.  Recuerda que es tu derecho exigir explicaciones.  Ten en cuenta que no se aceptarán insultos de ningún tipo y que esta no es una página de recepción de denuncias, aunque puedes hacerlo, en cuyo caso se redireccionará a las entidades competentes.
    
    %h2 proética
    
    #logo
      = image_tag 'proetica_big.png'
    
    %p#proetica
      Proética es la institución de la sociedad civil que administra esta página web.  Nuestra experiencia desde 2002 trabajando con ciudadanos, organizaciones sociales e instituciones públicas nos permite estar en posición de asegurar el manejo imparcial de los contenidos que aquí se comparten.
      