/* line 1, ../../app/stylesheets/app.scss */
ul.tabs {
  margin-top: 20px;
}

/* line 4, ../../app/stylesheets/app.scss */
#search label {
  width: 60px;
}
/* line 8, ../../app/stylesheets/app.scss */
#search .input {
  margin-left: 12px;
  margin-top: 10px;
}

/* line 14, ../../app/stylesheets/app.scss */
.promise {
  overflow: scroll;
  height: 600px;
}

/* line 19, ../../app/stylesheets/app.scss */
.milestone {
  float: left;
}

/* line 20, ../../app/stylesheets/app.scss */
.milestone_new {
  background-color: #FDDFDE;
  border-color: #FBC7C6;
}

/* line 25, ../../app/stylesheets/app.scss */
.milestone_started {
  background-color: #FDF5D9;
  border-color: #FCEEC1;
}

/* line 30, ../../app/stylesheets/app.scss */
.milestone_finished {
  background-color: #D1EED1;
  border-color: #BFE7BF;
}

/* line 35, ../../app/stylesheets/app.scss */
.province {
  display: none;
}

/* line 37, ../../app/stylesheets/app.scss */
.note {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

/* line 42, ../../app/stylesheets/app.scss */
.floatLeft {
  float: left;
}
