= form_for Promise.search, :url => promesas_path do |form|

  - if params[:controller] == 'promesas'
    = select_tag :tema, options_from_collection_for_select(Topic.all, 'name','name', ((params[:search] == 'topic')? "" :  params[:query])), :include_blank => 'temas'

  = form.text_field :general_search

  = form.submit 'Buscar', :class => 'button'
