@import 'partials/rounded_border';

ul.tabs { margin-top: 20px }

html body {
  background: url('../images/background.png') repeat-x; 
}

header {
  img#logo {
    float: left;
    margin: 5px 0 0 0;
  }
  
  img#flecha {
    float: left;
    margin: 5px 10px 0 10px;
  }
}

#search {
  label {
    width: 60px;
  }
  
  .input {
    margin-left: 12px;
    margin-top: 10px;
  }
}

.promise {
  overflow: scroll;
  height: 600px;
}
  
.milestone { float:left }
.milestone_new {
  background-color: #FDDFDE;
  border-color: #FBC7C6;
}

.milestone_started {
  background-color: #FDF5D9;
  border-color: #FCEEC1;
}

.milestone_finished {
  background-color: #D1EED1;
  border-color: #BFE7BF;
}

.province { display: none}

.note {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.floatLeft { float: left}

header {
  display: inline-block;
  margin: 0 0 0 150px;
  
  div {
    display: inline-block;
  }
}

#promesas {
  .filter {
    @include border-radius(5px);
    border:1px solid #181619;
    background-color: #e5dfd1;
    display: inline-block;
  }
  
  .promesa {
    border-bottom: 5px solid #7dbeb8;
    margin: 0 0 30px 0;
  
    .topic {
      @include border-radius(5px);
      border:1px solid #181619;
      background-color: #e5dfd1;
      display: inline-block;
      margin: 5px;
      padding: 10px;
    }
  }
}