.page-header
  %h2 
    Promesas
    %small.link= link_to 'Funcionarios', admin_officials_path
  
= link_to 'Nueva Promesa', new_admin_official_promise_path
%table.common-table.zebra-striped
  %thead
    %tr
      %td Titulo
      %td Descripcion
      %td Funcionario
      %td
      %td
  
  %tbody
    = render @promises
    
= paginate @promises