- if target.errors.any?
  .alert-message.block-message.error
    %p
      %strong
        = pluralize(target.errors.count, "error") 
        prohibited this record from being saved:
      - target.errors.full_messages.each do |msg|
        %br= msg
