#promesas
  .sidebar-box
    %h1
      Promesas
    Aqui puedes observar las promesas hechas por cada alcalde, texto explicativo de cada región y etc etc.

  - titulo_filtro_promesas(@search.search_attributes)

  = render :partial => 'promesa', :collection => @promises
  - if @promises.empty?
    %h3
      No existen coincidencias para su busqueda
      
#sidebar
  = render :partial => 'shared/search'
  = render :partial => 'shared/topics'