- content_for :title, ":: Promesas"
#promesas
  .promesa_titulo
    %h1 Promesas
  .promesa_estado_titulo
    %h1 Estado de la Promesa

  - titulo_filtro_promesas(@search.search_attributes)

  = render :partial => 'promesa', :collection => @promises
  - if @promises.empty?
    %h3
      No existen coincidencias para su busqueda