- content_for :title, ":: Promesas"
#promesas
  .promesa_titulo
    %h1 Promesas
    
  .promesa_estado_titulo
    %h1 Estado de la Promesa

  - titulo_filtro_promesas(@search.search_attributes)

  = render :partial => 'promesa', :collection => @promises
  - if @promises.empty?
    %h3
      No existen coincidencias para su busqueda

  = paginate @promises
  
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=287374454607456";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>